
.vertical-spacing {
  margin: 2% 0;
}

.image-caption {
  color: #AAA;
}

.image-wrapper {
  max-width: 100%;
}

.image,
.image-wrapper,
.image .img-responsive {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.image {
  width: 100%;
  max-width: 100%;
}

.image img {
  max-width: 100%;
}

.image-wrapper:hover .jumbo-button-wrapper {
  opacity: .2;
}
.jumbo-button-wrapper {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 10%;
  height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  cursor: pointer;
  background: #000;
  opacity: 0;
  color: #FFF;
}

.image-wrapper:hover .jumbo-button-wrapper:hover {
  opacity: .9;
}

.jumbo-button {
  position: relative;
}

.jumbo-button-wrapper.jumbo-left {
  left: 0;
}

.jumbo-button-wrapper.jumbo-right {
  right: 0;
}

.form-control {
  margin-bottom: 1.1em;
}
